<header class="header">
    <img src="/images/logo.png" alt="Recipe Book Logo" class="logo">
    <h1>Welcome to Our Recipe Book</h1>
    <nav>
        <div th:if="${#authentication.name != 'anonymousUser'}">
            <span>Welcome,
                <span th:text="${#authentication.name}"></span>

                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/admin}" class="header-button">Admin dashboard</a>

                <a th:if="${#authorization.expression('!hasRole(''ROLE_ADMIN'')')}" th:href="@{/profile}" class="header-button">My profile</a>
            </span>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="black-button">Logout</button>
            </form>
        </div>
        <div th:if="${#authentication.name == 'anonymousUser'}">
            <a th:href="@{/login}" class="black-button">Login</a>
        </div>
    </nav>
</header>