<div class="menu-container">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <a class="dropdown-button" th:href="@{/}">Home</a>

    <div class="dropdown">
        <button class="dropdown-button">Categories</button>
        <div id="category-menu" class="dropdown-content">
            <label th:each="category : ${navigationData.categories}" th:text="${category.name}"></label>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropdown-button">Difficulty</button>
        <div id="difficulty-menu" class="dropdown-content">
            <label th:each="difficulty : ${navigationData.difficulties}" th:text="${difficulty.name}"></label>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropdown-button">Events</button>
        <div id="event-menu" class="dropdown-content">
            <label th:each="event : ${navigationData.events}" th:text="${event.name}"></label>
        </div>
    </div>

    <a class="dropdown-button" th:href="@{/search}">Search for recipes</a>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('.dropdown-button').on('click', function(event) {
                event.stopPropagation();
                const menuId = $(this).next('.dropdown-content');

                $('.dropdown-content').not(menuId).hide();

                menuId.toggle();
            });

            $(window).on('click', function() {
                $('.dropdown-content').hide();
            });
        });
    </script>
</div>