<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Online Recipe Book</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/nav :: div}"></div>
<header class="body-header">
    <h2>Admin panel</h2>
</header>
<main class="content">
    <div class="dflex">
        <div class="admin-manage-card flex1">
            <h4>Manage categories</h4>
            <p>Count: 0</p>
            <button class="view-recipe-btn">Manage</button>
        </div>
        <div class="admin-manage-card flex1">
            <h4>Manage difficulties</h4>
            <p>Count: 0</p>
            <button class="view-recipe-btn">Manage</button>
        </div>
        <div class="admin-manage-card flex1">
            <h4>Manage events</h4>
            <p>Count: 0</p>
            <button class="view-recipe-btn">Manage</button>
        </div>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
