<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorised - Online Recipe Book</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/nav :: div}"></div><main class="content">
    <section>
        <header>
            <h2>Recipes with <span th:text="${type}"></span> <span th:text="${name}"></span></h2>
        </header>
        <div class="featured-recipes">
            <div th:each="recipe : ${recipes}" th:insert="~{fragments/recipe_card :: div(recipe=${recipe})}"
                 class="w33"></div>
        </div>
    </section>
</main>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>