<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details - Online Recipe Book</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div th:insert="~{fragments/nav :: div}"></div>
    <header class="body-header"><h2 th:text="${recipe.name}"></h2></header>
    <section>
        <header><h3>About</h3></header>
        <div class="container p1rem justify-content-between">
            <div class="flex1">
                <p><span class="bold">Description:</span> <span th:text="${recipe.description}"></span></p>
                <p>
                    <span class="bold">Prepare time:</span> <span th:text="${recipe.time.prepareTime}"></span> +
                    <span class="bold">Cooking time:</span> <span th:text="${recipe.time.cookTime}"></span> =
                    <span class="bold">Final time:</span> <span th:text="${recipe.time.totalTime}"></span>
                </p>

                <p><span class="bold">Posted by:</span> <span th:text="${recipe.user.username}"></span></p>
                <p><span class="bold">Category: </span> <span th:text="${recipe.category.name}"></span></p>
                <p><span class="bold">Difficulty: </span> <span th:text="${recipe.difficulty.name}"></span></p>
                <p><span class="bold">Events: </span>
                    <ul>
                        <li th:each="event: ${recipe.events}" th:text="${event.name}"></li>
                    </ul>
            </div>
            <div class="p05rem text-end">
                <img th:src="${recipe.photoPath}" alt="dish photo" width="250">
            </div>
        </div>
    </section>
    <div class="container">
        <main class="content flex1">
            <section class="recipe-info">
                <header><h3>Ingredients</h3></header>
                <ul>
                    <li th:each="ing: ${recipe.ingredients}" th:text="${ing.name}"></li>
                </ul>
            </section>
            <section class="recipe-info">
                <header><h3>Instructions</h3></header>
                <ol>
                    <li th:each="step: ${recipe.steps}" th:text="${step.description}"></li>
                </ol>
            </section>
        </main>
        <aside class="content flex1">
            <section>
                <header><h3>Recipe Stats</h3></header>
                <div>
                    <p><span class="bold">Rating:</span> <span th:text="${#numbers.formatDecimal(rating, 1, 2)}"></span></p>
                    <p><span class="bold">Recipe created at:</span> <span th:text="${#temporals.format(recipe.createdAt, 'MM/dd/yyyy')}"></span></p>
                    <p><span class="bold">Favourites:</span> <span th:text="${favourites}"></span></p>
                    <p><span class="bold">Done:</span> <span th:text="${done}"></span></p>
                </div>
            </section>
            <section>
                <header><h3>Actions</h3></header>
                <div>
                    <div th:if="${alreadyFavourite}">
                       <form th:action="@{/favourites/remove}" method="post">
                           <input type="hidden" name="recipeId" th:value="${recipe.id}">
                           <button type="submit" class="favourite-btn-remove">Remove from Favourites</button>
                       </form>
                    </div>
                    <div th:unless="${alreadyFavourite}">
                        <form th:action="@{/favourites/add}" method="post">
                            <input type="hidden" name="recipeId" th:value="${recipe.id}">
                            <button type="submit" class="favourite-btn-add">Add to Favourites</button>
                        </form>
                    </div>
                    <div th:if="${alreadyDone}">
                        <form th:action="@{/history/remove}" method="post">
                            <input type="hidden" name="recipeId" th:value="${recipe.id}">
                            <button type="submit" class="done-btn-remove">Mark as Not Done</button>
                        </form>
                    </div>
                    <div th:unless="${alreadyDone}">
                        <form th:action="@{/history/add}" method="post">
                            <input type="hidden" name="recipeId" th:value="${recipe.id}">
                            <button type="submit" class="done-btn-add">Mark as Done</button>
                        </form>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    <section>
        <header>
            <h3>Rate this recipe</h3>
        </header>
        <div class="p1rem">
            <form th:action="@{/ratings/}" method="post" th:object="${rateRecipe}">
                <input type="hidden" name="recipeId" th:value="${recipe.id}" th:field="*{recipeId}">
                <label for="rating">Rate this recipe:</label>
                <input type="number" id="rating" name="rating" min="0.01" max="9.99" step="0.01" th:field="*{rating}" th:value="*{rating}" required>
                <button type="submit" class="black-button">Submit</button>

                <div th:if="${#fields.hasErrors('rating')}" class="error-in-form">
                    <span th:errors="*{rating}"></span>
                </div>
            </form>
        </div>
    </section>
    <section>
        <header>
            <h3>Comments</h3>
        </header>
        <div>
            <form class="p1rem">
                <label for="comment">Leave a comment:</label><br>
                <textarea id="comment" name="comment" required cols="30" rows="5"></textarea><br>
                <button type="submit" class="black-button">Submit</button>
            </form>
        </div>
        <span th:if="${#lists.isEmpty(comments)}">No comments yet.</span>
        <div th:each="comment : ${comments}" th:insert="~{fragments/comment :: div(comment=${comment})}">
        </div>
    </section>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>