<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details - Online Recipe Book</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div th:insert="~{fragments/nav :: div}"></div>
    <header class="body-header"><h2 th:text="${recipe.name}"></h2></header>
    <section>
        <header><h3>About</h3></header>
        <div class="container p1rem justify-content-between">
            <div class="flex1">
                <p th:text="${recipe.description}"></p>
                <p><span class="bold">Category: </span> <span th:text="${recipe.category.name}"></span></p>
                <p><span class="bold">Difficulty: </span> <span th:text="${recipe.difficulty.name}"></span></p>
                <p><span class="bold">Events: </span>
                    <ul>
                        <li th:each="event: ${recipe.events}" th:text="${event.name}"></li>
                    </ul>
            </div>
            <div class="p05rem text-end">
                <img th:src="${recipe.photoPath}" alt="Spaghetti Bolognese" width="250">
            </div>
        </div>
    </section>
    <div class="container">
        <main class="content flex1">
            <section class="recipe-info">
                <header><h3>Ingredients</h3></header>
                <ul>
                    <li th:each="ing: ${ingredients}" th:text="${ing.name}"></li>
                </ul>
            </section>
            <section class="recipe-info">
                <header><h3>Instructions</h3></header>
                <ol>
                    <li th:each="step: ${steps}" th:text="${step.description}"></li>
                </ol>
            </section>
        </main>
        <aside class="content flex1">
            <section>
                <header><h3>Recipe Stats</h3></header>
                <div>
                    <p><span class="bold">Favourites:</span> <span th:text="${favourites}"></span></p>
                    <p><span class="bold">Done:</span> <span th:text="${done}"></span></p>
                </div>
            </section>
            <section>
                <header><h3>Actions</h3></header>
                <div>
                    <button class="favourite-btn">Add to Favourites</button>
                    <button class="done-btn">Mark as Done</button>
                </div>
            </section>
        </aside>
    </div>
    <section>
        <header><h3>Comments</h3></header>
        <div>
            <form class="p1rem">
                <label for="comment">Leave a comment:</label><br>
                <textarea id="comment" name="comment" required cols="30" rows="5"></textarea><br>
                <button type="submit" class="black-button">Submit</button>
            </form>
        </div>
        <span th:if="${#lists.isEmpty(comments)}">No comments yet.</span>
        <div th:each="comment : ${comments}" th:insert="~{fragments/comment :: div(comment=${comment})}">
        </div>
    </section>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>