<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Online Recipe Book</title>
    <link rel="stylesheet" href="/styles/styles.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">-->
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div th:insert="~{fragments/nav :: div}"></div>
    <main>
        <div class="login-container">
            <h2>Login</h2>
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
        <div th:if="${param.error}" class="text-center">
            <p class="error">Invalid username or password</p>
        </div>
        <div class="text-center">
            <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
        </div>
    </main>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
