<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Online Recipe Book</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div th:insert="~{fragments/nav :: div}"></div>
    <main>
        <div class="register-container">
            <h2>Register</h2>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="register-btn">Register</button>
            </form>
        </div>
        <div style="text-align: center">
            <p>Already have account? <a th:href="@{/login}">Login</a></p>
        </div>
    </main>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>