/*MAIN*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}

input {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span.bold {
    font-weight: bold;
}

.black-button{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    background: #333;
    cursor: pointer;
}

.black-button:hover {
    background: #555;
}

.text-center {
    text-align: center;
}

.p1rem {
    padding: 1rem;
}

.p05rem {
    padding: 0.5rem;
}

.text-end{
    text-align: end;
}

.red-border{
    border: 1px solid #ff6f61;
}

.dflex{
    display: flex;
}

.inline-block {
    display: inline-block;
}

.flex1{
    flex: 1;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*CONTAINER*/

.container {
    display: flex;
}

/*HEADER*/

.header {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.header h1 {
    margin: 0;
    flex: 1;
}

.header nav {
    display: flex;
    justify-content: center;
}

.header-button {
    color: #ff6f61;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/*NAV*/
.menu-container {
    padding: 0 20px;
    display: flex;
    align-items: baseline;
    margin: 20px auto;
}

.dropdown {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding: 5px;
}

.dropdown-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.1s ease-in-out;
}

.dropdown-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.dropdown-button {
    color: white;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
}

.dropdown-content a label {
    display: block;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

.w33 {
    width: 33%;
}

.dropdown-content label:hover {
    background-color: #f0f0f0;
}

/*HOME PAGE*/

.content {
    padding: 20px;
}

.featured-recipes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.body-header{
    background: #ff6f61;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}

main header {
    background: #ff6f61;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}

section header{
    border: 1px solid #ff6f61;
    background: white;
    color: #ff6f61;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: start;
}

.recipe-card, .profile-check-card, .admin-manage-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 10px;
    background: white;
    transition: box-shadow 0.1s ease-in-out;
}

.recipe-card div, .profile-check-card div, .admin-manage-card div {
    text-align: center;
}

.recipe-card:hover, .profile-check-card:hover, .admin-manage-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-recipe-btn {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.view-recipe-btn:hover {
    background-color: #ff5f51;
}

.pagination{
    margin-top: 1rem;
    text-align: center;
    font-size: larger;
}

.separator {
    color: #ff6f61;;
}

.previous, .next, .last{
    text-decoration: none;
    color: white;
    background-color: #ff6f61;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/*FOOTER*/

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/*DETAILS*/
.recipe-info ul, .recipe-info ol {
    padding-left: 20px;
    color: #333;
}

.favourite-btn, .done-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.done-btn {
    background-color: #007bff;
}

/*SEARCH*/

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.search-input-container {
    width: 90%;
}

.search-input {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
}

.search-btn {
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-advanced {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 20px;
    padding-top: 20px;

}

.search-advanced > *:not(:first-child) {
    margin-top: 20px;
}

.options-advanced {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.options-container {
    display: flex;
    width: 100%;
}

.options-container select {
    width: 80%;
}

/*LOGIN/REGISTER PAGE*/
.login-container, .register-container, .add-recipe-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
}

.login-container label, .register-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-container input, .register-container input {
    width: 95%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-btn, .register-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*PROFILE*/

.profile-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.profile-container div h3 {
    margin-left: 10px;
}

.profile-check-card {
    flex: 1;
    white-space: nowrap;
}

/*ADD RECIPE*/
/*.add-recipe-container {*/
/*    max-width: 500px;*/
/*    margin: 50px auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 10px;*/
/*    background: white;*/
/*}*/

.add-recipe-container textarea {
    width: 95%;
    margin: 0 auto 15px auto;
    padding: 10px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-recipe-form-panel{
    margin-bottom: 15px;
}

.submit-recipe-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.error-container{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.error-container h2{
    color: #ff6f61;
}

.error-in-form {
    color: #ff6f61;
    font-size: 1.25rem;
    font-weight: bolder;
}